.env
*.env

__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.venv/

.git/
.gitignore

.gitlab-ci.yml
.github/

.vscode/

.python-version

Dockerfile
docker-compose.yml

docs

*.log
*.tmp
*.swp
*.swo

README.md
